h1 {
    text-align: center;
    color: grey;
}

body {
    background-color: #CAE8DD;
}

.btn {
    padding: 30px 60px;
    margin-bottom: 2px;
    background: var(--color);
    cursor: pointer;
    border-radius: 25px 25px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.4);
}
.btn-1 {--color: #E74084;}
.btn-2 {--color: #F49998;}
.btn-3 {--color: #F7F190;}
.btn-4 {--color: #F9E7E5;}
.btn-5 {--color: #0F7D7A;}
.btn-6 {--color: #9BD5C4;}
.btn-7 {--color: #7C56A4;}
.btn-8 {--color: #E2A2C8;}